/* === LAYOUT PRINCIPAL === */
.body-cadastro-usuario {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === CONTAINER DO FORMULÁRIO === */
.cadastro-container {
  max-width: 400px;
  padding: 40px;
  background-color: #f6f2f1;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* === LOGO === */
.logo-img {
  width: 120px;
  margin: 0 auto 20px;
  display: block;
}

/* === TÍTULO === */
.cadastro-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #34a27b;
  margin-bottom: 20px;
}

/* === FORMULÁRIO DE CADASTRO === */

/* label */
.form-cadastro label{
  text-align: start;
}

/* === FAZER LOGIN === */
.cadastro-login{
  margin-top: 15px;
}

/* === LINKS === */
.cadastro-container a {
  color: #2b7a78;
  text-decoration: none;
}

.cadastro-container a:hover {
  text-decoration: underline;
}

/* === MENSAGENS DE FEEDBACK === */
.mensagens-feedback {
  margin-top: 5px;
  margin-bottom: 10px;
}

.mensagem {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
}

.mensagem.ok {
  color: #27ae60;
}

.mensagem.erro {
  color: #c0392b;
}

/* === FEEDBACK VISUAL NOS INPUTS === */
input.input-ok {
  border: 2px solid green !important;
}

input.input-erro {
  border: 2px solid red !important;
}

/* === BOTÃO CADASTRAR === */
.btn {
  margin-top: 15px;
}
