.body-perfil {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 140px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

#previewFoto {
  margin-top: 10px;
  text-align: center;
}

.foto-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2196f3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-salvar {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-salvar:hover {
  background-color: #256729;
}

.form-perfil {
  display: flex;
  flex-wrap: nowrap; /* Agora NÃO quebra linha */
  justify-content: space-between;
  align-items: stretch; /* IMPORTANTE: forças colunas a ficarem com mesma altura */
  gap: 30px;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  box-sizing: border-box;
}

.card-container {
  flex: 1 1 48%;
  min-width: 300px;
  /* background-color: #ffffff; */
  /* padding: 20px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 12px; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rua{
  margin-bottom: 20px;
}

.coluna-esquerda,
.coluna-direita {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.area-botao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#previewFoto {
  text-align: center;
  margin-bottom: 10px;
}

#fotoPerfil {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  height: 55px; /* altura fixa maior */
  padding: 0 15px; /* só padding lateral */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem; /* fonte maior */
  background-color: #fff;
  transition: all 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 12px; /* menos espaço entre os campos */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus {
  border-color: #00a86b;
  box-shadow: 0 0 5px rgba(0, 168, 107, 0.5);
}



label {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .form-perfil {
    flex-direction: column;
    align-items: center;
  }

  .coluna-esquerda,
  .coluna-direita {
    width: 100%;
  }
}